.AirplanesContainer {
  padding: 0 10px;
}

.AirplanesFlexBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.AirplaneCard {
  background-color: #cde;
  border: 3px solid rgba(0,0,0,0.16);
  border-radius: 15px;
  margin: 2%;
  padding: 1%;
  width: 30%;
  min-width: 200px;
  min-height: 200px;
}
.AirplaneCard:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.56), 0 3px 6px rgba(0,0,0,0.53);
}

.AirplaneImg {
  width: 50%;
  max-height: 200px;
}

.AirplaneForm {
  display: flex;
  flex-direction: column; 
  padding-bottom: 2em;
}

.AirplaneFormInput {
  text-align: center;
  width: 25%;
  min-width: 200px;
  align-self: center;
  padding: 1.5em;
  margin: 1em;
}

.AirplaneDelete {
  font-weight: bold;
  background-color: darkslategrey;
  /* font-size: 1em; */
  padding: 0.5em 1em;
  letter-spacing: 0.1em;
  font-size: 1em;
  min-width: 100px;
  border-radius: 10px;
}