.AirplanesContainer {
  padding: 0 10px;
}

.AirplanesFlexBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.AirplaneCard {
  background-color: #cde;
  border: 3px solid rgba(0,0,0,0.16);
  border-radius: 15px;
  margin: 2%;
  padding: 1%;
  width: 30%;
  min-width: 200px;
  min-height: 200px;
}
.AirplaneCard:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.56), 0 3px 6px rgba(0,0,0,0.53);
}

.AirplaneImg {
  width: 50%;
  max-height: 200px;
}

.AirplaneForm {
  display: flex;
  flex-direction: column; 
  padding-bottom: 2em;
}

.AirplaneFormInput {
  text-align: center;
  width: 25%;
  min-width: 200px;
  align-self: center;
  padding: 1.5em;
  margin: 1em;
}

.AirplaneDelete {
  font-weight: bold;
  background-color: darkslategrey;
  /* font-size: 1em; */
  padding: 0.5em 1em;
  letter-spacing: 0.1em;
  font-size: 1em;
  min-width: 100px;
  border-radius: 10px;
}

.AirplaneDelete:hover {
  background-color: red;
}

.AirplaneLink, .AirplaneLink:visited {
  width: 100%;
  padding: 1em 0;
  display: inline-block;
  color: white;
  background-color: #112233;
  letter-spacing: 0.1em;
  text-decoration: none;
}

.AirplaneLink:hover {
  background-color: rgba(250,250,250,0.2);
}


.AirplaneError {
  background: palevioletred;
}

.AirplaneEditLink, .AirplaneEditLink:visited {
  text-decoration: none;
  display: block;
  font-weight: bold;
  background-color: darkslategrey;
  color: black;
  padding: 0.5em 1em;
  letter-spacing: 0.1em;
  font-size: 1em;
  min-width: 100px;
  margin: 1em auto;
  max-width: 30%;
  border-radius: 10px;
}

.AirplaneEditLink:hover {
  color: white;
  background: #a70;
  /* background-color: rgba(0,0,0,0.7); */
}

.Empty {
  visibility: hidden;
  min-height: 0;
}