/* *********IMPORTS********* */
@import url('https://fonts.googleapis.com/css?family=Lato');

/************* HTML ELEMENTS ************/
* {
  margin: 0;
  padding: 0;
}

H1, h2 {
  margin: 0.5em;
  padding: 0.5em;
}
p {
  padding: 0.5em;
  font-family: 'Lato', sans-serif;
  font-size: 16pt;
  max-width: 500px;
  margin: auto;
  text-align: center;
}

ul {
  list-style-type: none;
}

li {
  padding: 5px 0;
}

/* ******* CUSTOM ELEMENTS: About page elements ********* */
.listContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.listCard {
  background-color: #cde;
  border: 3px solid rgba(0,0,0,0.16);
  border-radius: 15px;
  padding-bottom: 2%;
  margin: 2%;
  min-width: 20%;
  max-width: 80%;
}

.listCard li {
  padding: 0.5em 0;
}

/*************************** Primary App Classes ****************************/
.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
}

.App-header {
  text-align: center;
  background-color: #6DC2C5;
  min-height: 150px;
  margin-bottom: 1em;
  padding-top: 1em;
  color: white;
  font-size: 2em;
  /* compensate for fixed nav bar  */
  margin-top: 1em;
}

.App-title {
  font-size: 1.5em;
}

.App-footer {
  margin-top: 2em;
  height: 2em;
  text-align: center;
  width: 100%;
  color: white;
  background-color: #399;
  font-weight: bold;
  padding: 1em 0;
  letter-spacing: 0.1em;
}

/* *************NAVIGATION*************** */
.NavBar {
  width: 100%;
  height: 1.5em;
  top: 0;
  position: fixed;
  background: #6DC2C5;
  display: flex;
  justify-content: center;
}

.NavBar a, a:visited {
  color: white;
  text-decoration: none;
  margin: 0 1em;
  padding: 5px;
}
